@use "global" as *;

.content-block {
  display: flex;
  flex-wrap: wrap;
}
.content-block__item {
  position: relative;
  width: 50%;
  @include mq(md) {
    width: 25%;
  }
}
.content-block__image {
  position: relative;
}
.content-block__image::before {
  content: "";
  display: block;
  padding-top: 89.361702%;
  @include mq(md) {
    padding-top: 100%;
  }
}
.content-block__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-block__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: $;
  font-size: rem(20);
  font-weight: $regular;
  letter-spacing: 0.09em;
  text-indent: 0.09em;
  line-height: 1;
  z-index: 1;
  @include mq(md) {
    font-size: rem(25);
    letter-spacing: 0.05em;
  }
}
.content-block__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255,255,255,0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.content-block__item:hover::before {
  opacity: 1;
}