@use "global" as *;

.pc-nav {
  display: none;
  @include mq(md) {
    display: block;
    height: inherit;
}
}
.pc-nav__items {
  @include mq(md) {
    height: inherit;
    display: flex;
    align-items: center;
  }
}
.pc-nav__item {
  @include mq(md) {
    height: inherit;
  }
}
.pc-nav__item a {
  @include mq(md) {
    height: inherit;
    display: grid;
    place-items: center;
    color: $white;
    font-size: rem(16);
    font-weight: $regular;
    line-height: 2.1875;
    letter-spacing: 0.16em;
    text-indent: 0.15em;
    padding: 0 rem(13);
}
}
.pc-nav__item.pc-nav__item--white a {
  background-color: $white;
  color: $black;
  padding: 0 rem(28);
  
}
.pc-nav__item--white {
  margin-left: rem(16);
}
.pc-nav__item--white:ho
// ホバー時アンダーライン
.pc-nav__item a span {
  position: relative;
}
.pc-nav__item a span::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: rem(1);
  background: #FFEA2E;
  bottom: 0;
  visibility: hidden;
  display: block;
}
.pc-nav__item a:hover span::after {
  visibility: visible;
}