@use "global" as *;

.sub-works__container {
  margin-top: rem(53);
  
  @include mq(md) {
    margin-top: rem(91);
  }
}
.sub-works__inner.inner {
  margin-top: rem(53);
  @include mq(md) {
    padding-right: 0;
    padding-left: 0;
    margin-top: rem(91);
  }
}
.sub-works__top.inner {
  @include mq(md) {
    padding-right: 0;
    padding-left: 0;
  }
}
.sub-works__title {
  font-size: rem(20);
  font-weight: $normal;
  color: $black;
  line-height: 1;
  @include mq(md) {
    font-size: rem(23);
  }
}
.sub-works__meta {
  display: flex;
  align-items: center;
  font-size: rem(16);
  font-weight: $regular;
  color: $black;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(32);
  }
}
.sub-works__category {
  border: 1px solid $black;
  padding: rem(7) rem(23);

}
.sub-works__container {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(32);
  }
}
.sub-works__inner.inner {
  max-width: rem(800);
  padding-right: 0;
  padding-left: 0;
}

// swiperカスタマイズ
.slider-thumbnail {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.slider-thumbnail {
  width: 100%;
  overflow: hidden;
  margin-right: calc(50% - 50vw);
}
.slider-thumbnail .swiper-slide {
  opacity: .5;
  transition: opacity .5s;
  width: calc(100% / 3);
}
.slider-thumbnail .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}
// swiper内画像
.sub-works__image-top {
  position: relative;
}
.sub-works__image-top::before {
  content: "";
  display: block;
  padding-top: calc(251 / 375 * 100%);
  @include mq(md) {
    padding-top: calc(427 / 799 * 100%);
  }
}
.sub-works__image-top img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sub-works__image-top.swiper-slide {
  height: 100%;
}
.sub-works__image-top.swiper-slide img {
  height: 100%;
}
.sub-works__image-bottom {
  position: relative;
}
.sub-works__image-bottom::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.sub-works__image-bottom img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sub-works__image-bottom.swiper-slide {
  height: 100%;
}
.sub-works__image-bottom.swiper-slide img {
  height: 100%;
}
.sub-works__article {
  max-width: rem(600);
}
/* レイアウトのためのスタイル */
.swiper-slide img {
  height: auto;
  width: 100%;
}

.sub-works__wrapper {
  margin-top: rem(56);
  @include mq(md) {
    margin-top: rem(103);
  }
}
.sub-works__items {
  color: $black;
  letter-spacing: 0.004em;
}
.sub-works__item {
  border: 1px solid $black;
  padding: rem(56) rem(10) rem(33);
  position: relative;
}
.sub-works__item + .sub-works__item {
  margin-top: rem(54);
  @include mq(md) {
    margin-top: rem(71);
  }
}
.sub-works__head {
  font-size: rem(20);
  font-weight: $regular;
  padding: rem(8) rem(24);
  border: 1px solid $black;
  border-radius: rem(32);
  letter-spacing: 0.004em;
  background-color: #e2dfd9;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 0;
  transform: translateY(-50%);
}
.sub-works__text {
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(35 / 16);
  letter-spacing: 0.004em;
}
.sub-works__link {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(104);
  }
}

.sub-works__article {
  margin-top: rem(120);
  @include mq(md) {
    margin-top: rem(104);
  }
}


.sub-works__wrapper {
  max-width: rem(600);
}


/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(30);
  margin: auto;
  width: rem(30);
  @include mq(md) {
    height: rem(50);
    width: rem(50);
  }
}
/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  height: rem(30);
  width: rem(30);
  @include mq(md) {
    height: rem(50);
  width: rem(50);
  }
}
/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(../images/common/swiper-prev-bottom.png);
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url(../images/common/swiper-next-bottom.png);
}
/* 画像サイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
}