@use "global" as *;

.cards {
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
  }
}
.cards__item {
  width: 100%;
  @include mq(md){
  max-width: calc(33.3333% - rem(25) * 2 / 3);
  width: 100%;
}
}
.cards__item {
  @include mq(md) {
  margin-left: rem(25);
}
}
.cards__item:nth-child(3n+1)  {
  margin-left: 0;
}
.cards .cards__item:nth-child(n+4)  {
  margin-top: rem(25);
}