@use "global" as *;

// 黄色い線背景
.content {
  position: relative;
}
.content::before {
  content: '';
  width: 100%;
  height: rem(679.29);
  position: absolute;
  top: rem(-30);
  left: 0;
  background-image: linear-gradient(to right top,transparent 49.9%, #796d043b 50%, #796d043b calc(50.1% + 0.1px), transparent calc(50.3% + 0.1px));
  z-index: -10;
  @include mq(md) {
    width: 94.6875%;
    height: rem(1212);
    top: rem(-107);
  }
  }

.content__inner {
  width: 100%;
  margin: auto;
}
.content__block {
  margin-top: rem(48);
}