@use "global" as *;

.contact {
  padding-top: rem(67);
  padding-bottom: rem(64);
  background-color: $black;
  text-align: center;
  @include mq(md) {
    padding-top: rem(148);
    padding-bottom: rem(149);
  }
}
.contact__title .section-title__main {
  color: $white;
}
.contact__text {
  font-size: rem(16);
  font-weight: $regular;
  color: $white;
  letter-spacing: 0.13em;
  line-height: 1.448125;
  text-align: left;
  display: inline-block;
  margin-top: rem(19);
  text-align: center;
  @include mq(md) {
    margin-top: rem(23);
    text-indent: 0.13em;
    width: 100%;
  }
}
.contact__btn {
  margin-top: rem(46);
  text-align: center;
  @include mq(md) {
    margin-top: rem(61);
  }
}
