@use "global" as *;

.footer-nav {
  text-align: center;
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-nav__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: rem(4);
  @include mq(md) {
    flex-direction: inherit;
    margin-top: 0;
  }
}
.footer-nav__item a {
  display: inline-block;
  width: 100%;
  color: $black;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.448125;
  letter-spacing: 0.05em;
  text-indent: 0.05em;
  padding: rem(4) 0;
  @include mq(md) {
    padding: 0 rem(16);
    line-height: 2.1875;
    letter-spacing: 0.09em;
  }
}
.footer-nav__item:last-child a {
  @include mq(md) {
    padding-right: 0;
  }
}
.footer-nav__item a span {
  position: relative;
}
.footer-nav__item a span::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: rem(1);
  background: #FFEA2E;
  bottom: rem(-3); 
  visibility: hidden; 
  }
.footer-nav__item a:hover span::after {
  visibility: visible;
}
.footer-nav__item--sp {
  display: block;
  @include mq(md) {
    display: none;
  }
}
.footer-nav__item--pc {
  display: none;
  @include mq(md) {
    display: block;
  }
}