@use "global" as *;


.form {
  letter-spacing: 0.007em;
  color: $black;
  display: block;
}
.form__item {
  max-width: rem(540);
  margin: auto;
  @include mq(md) {
  display: flex;
  width: 100%;
  max-width: rem(856);
}
}
.form__item:not(:first-child){
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(45);
  }
}
.form .form__item dt {
  flex: 0 1 rem(150);
}
 .form__item dd {
  width: 100%;
  flex: 0 1 calc(100% - rem(150));
  @include mq(md) {
    margin-left: rem(24);
  }
}
.form__item dt {
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(25.9 / 14);
  text-align: right;
}
.form__item dd {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
  }
}
.form__btn {
  text-align: center;
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(56);
  }
}
dl.is-error {
  
}
.form__error {
  display: block;
  color: #FF5757;
  font-size: rem(16);
}

[type="text"],
[type="email"],
textarea {
  // リセットcss
  border: none;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  // カスタム
  padding: rem(7) rem(16);
  width: 100%;
  max-width: rem(540);
  background: $white;
}
[type="button"],
[type="submit"] {
  // リセットcss
  margin: 0;
  background-image: none;
  width: auto;
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 0;
  // カスタム
  padding: rem(10) rem(146);
  background-color: $black;
  color: $white;
  font-size: rem(20);
  cursor: pointer;
  transition: 0.3s ease;
  @include mq(md) {
    padding: rem(20) rem(163);
    font-size: rem(16);
  }
}
[type="button"] {
  @include mq(md) {
    width: rem(360);
  }
}
.form__btn input[type="submit"] {
  transition: opacity 0.3s ease;
}

.form__btn input[type="submit"]:hover {
  opacity: 0.7;
}

textarea {
  height: rem(250);
  width: 100%;
  @include mq(md) {
    height: rem(300);
  }
}

