@use "global" as *;


.hamburger {
  z-index:9999;
  padding-right: rem(8);
  @include mq(md) {
    display: none;
  }
 }
 
 .hamburger span {
  position: relative;
  display: block;
  height: rem(2);
  width: rem(26);
  background: $white;
  border-radius: rem(30);
  transition: ease .3s;
 }
 
 .hamburger span:nth-child(1) {
  top: rem(-4);
 }
 
 .hamburger span:nth-child(2) {
  margin: rem(5) 0;
  top: rem(-4);
 }
 
 .hamburger span:nth-child(3) {
  top: rem(-4);
 }

 /*is-OPEN時の動き*/
 .hamburger.is-open {
  padding-right: 0;
 }
 .hamburger.is-open span {
  width: rem(23);
 }
 .hamburger.is-open span:nth-child(1) {
  top: rem(7);
  transform: rotate(45deg);
 }
 
 .hamburger.is-open span:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
 }
 
 .hamburger.is-open span:nth-child(3) {
  top: rem(-7);
  transform: rotate(-45deg);
 }