@use "global" as *;

.header {
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(154, 113, 1, 0.502);
  height: rem(50);
  position: fixed;
  z-index: 10000;
}
.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: rem(23);
  padding-right: rem(13);
  z-index: 10000;
  @include mq(md) {
    padding-left: rem(32);
    padding-right: 0;
  }
}
/* スクロールしたらヘッダーメニューの背景色ー変更 */
.header.headerColorScroll {
  background-color: #9a7108fa;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  transition: 0.4s ease-out;
}
.pc-nav__item--white.headerColorScroll {
  background-color: $black;
  transition: 0.4s ease-out;
}