@use "global" as *;

.main-works__inner {
  max-width: rem(600);
}
.main-works__items.inner {
  padding-left: 0;
  padding-right: 0;
  @include mq(md) {
    padding-left: $padding-pc;
    padding-right: $padding-pc;
  }
}
.main-works__tab {
  margin-top: rem(86);
  @include mq(md) {
    margin-top: rem(118);
  }
}
.main-works__items {
  margin-top: rem(20);
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(44);
  }
}
.main-works__item {
  display: block;
  @include mq(md) {
    width: calc(50% - rem(24));
  }
}
.main-works__item + .main-works__item {
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(114);
  }
}
.main-works__item:nth-child(2) {
  @include mq(md) {
    margin-top: 0;

  }
}
.main-works__item:nth-child(2n) {
  @include mq(md) {
    margin-left: rem(48);
  }
}
.main-works__image {
  position: relative;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  @include mq(md) {
    margin: 0;
  }
}
.main-works__item {
  position: relative;
}
.main-works__category {
  content: "";
  position: absolute;
  color: $white;
  background-color: #111;
  top: 0;
  right: 0;
  padding: rem(8) rem(20);
}
.main-works__image::before {
  content: "";
  display: block;
  padding-top: calc(249 / 375 * 100%);
  @include mq(md) {
  padding-top: calc(349 / 525 * 100%);
}
}
.main-works__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-works__title {
  font-size: rem(20);
  color: $black;
  font-weight: $normal;
  line-height: calc(35 / 20);
  letter-spacing: 0.02em;
  text-align: center;
}
.main-works__pagination {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(104);
  }
}

// ホバー
.main-works__item:hover {
  opacity: 0.7;
}