@use "global" as *;
.main-blog__inner {
  max-width: rem(600);
}
.main-blog__tab {
  margin-top: rem(86);
  @include mq(md) {
    margin-top: rem(118);
  }
}
.main-blog__pagination {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(104);
  }
}