@use "global" as *;

.news-content {
  text-align: justify;
  @include mq(md) {
    display: flex;
    align-items: baseline;
  }
}
.news-content +
.news-content
{
  margin-top: rem(32);
}
.news-content__info {
  @include mq(md) {
    display: flex;
    align-items: baseline;
  }
}
.news-content__date,
.news-content__category {
  display: inline-block;
  line-height: 1;
}
.news-content__date,
.news-content__category,
.news-content__text {
  color: $black;
  font-weight: $regular;
}
.news-content__date,
.news-content__text {
  font-size: rem(16);
}
.news-content__category {
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1;
  margin-left: rem(28);
  padding: rem(8) rem(21);
  border: 1px solid $black;
  flex-shrink: 0;
  @include mq(md) {
    margin-left: rem(47);
  }
}
.news-content__block {
  margin-top: rem(14);
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(63);
    flex: 0 1 rem(574);
  }
}
.news-content__text {
  line-height: 1.448125;
  @include mq(md) {
  }
}
.news-content__btn {
  margin-top: rem(27);
  text-align: center;
  @include mq(md) {
    margin-top: 0;
    text-align: inherit;
    margin-left: rem(48);
  }
}

// ホバーすると下線が出る
.news-content__text {
  text-decoration: none; 
  color: $black; 
  background-image: linear-gradient(90deg, $black, $black); 
  background-repeat: no-repeat;
  background-position: left bottom; 
  background-size: 0 rem(1); 
  transition: background-size 0.3s;
}

.news-content__text:hover {
  background-size: 100% rem(1); 
}

