@use "global" as *;

.related-article__title {
  font-size: rem(16);
  font-weight: $regular;
  color: $black;
  letter-spacing: 0.02em;
  background-color: $yellow;
  text-align: center;
  padding: rem(9);
}
.related-article__cards {
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;  
    margin-top: rem(32);
    margin-top: rem(80);
  }
}
.related-article__card.card::before {
  display: none;
}
.related-article__card {
  @include mq(md) {
  width: calc(25% - rem(32) * 3 / 4);
}
}
.related-article__card + .related-article__card {
  @include mq(md) {
  margin-left: rem(32);
}
}
.related-article__img {
  position: relative;
}
.related-article__img::before {
  @include mq(md) {
  content: "";
  display: block;
  padding-top: calc(148 / 251 * 100%);
}
}
