@use "global" as *;

.section-title {
  position: relative;
}
.section-title a {
  position: relative;
  z-index: 1;
}
.section-title__main {
  color: $black;
  font-weight: $regular;
  font-size: rem(20);
  letter-spacing: 0.08em;
  text-align: center;
  @include mq(md) {
    font-size: rem(30);
    line-height: 1.1666666;
    letter-spacing: 0.02em;
    text-indent: 0.02em;
  }
}

.section-title__sub {
  position: absolute;
  display: inline-block;
  font-size: rem(50);
  font-family: $second-font-family;
  font-weight: $regular;
  color: $yellow;
  opacity: 0.2;
  line-height: 1.437;
  left: 50%;
  letter-spacing: 0.01em;
  text-indent: 0;
  transform: translateX(-50%);
  top: rem(-48);
  @include mq(md) {
    font-size: rem(110);
    line-height: 1.437;
    width: 100%;
  }
}
// 左側に寄せる
.section-title__sub--right {
  @include mq(md) {
    text-align: right;
  }
}
// それぞれの英字タイトル高さピクパ
.section-title__sub--contact {
  @include mq(md) {
    top: rem(-90);
  }
}